.body{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  box-sizing:border-box;
}
.container{
  width: 80%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
}
nav{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

nav ul{
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 40px;
}
nav ul li{
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a{
  color:black;
  text-decoration: none;
}
#title{
  color: blue;
}
.btn{
  display: flex;
  width: 170px;
  height: 50px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  background:blue;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  justify-content: flex-end;
}

  
  
 .icon{
 margin-top: -20px;
 display: flex;
 margin-left: 90px;
 outline: blue;
 font-size: 10px;
 border-radius: 20px;
 width: 220px;
 height: 50px;
 font-size: medium;
 align-items: center;
 margin-bottom: 35px;
 color: blue;
 


}
.content{
  margin-top: 10px;
  color:black;
  max-width: 620px;
}
.content h1{
  font-size: 70px;
  font-weight: 600;
  line-height: 85px;
  margin-bottom: 25px;
}
#button{
  color: blue;
  text-align: center;
  border-radius: 50px;
  width: 200px;
  height: 50;
  font-size: 15px;
  font-weight: 500;
  
}
#button1{
  color:white;
  text-align: center;
  border-radius: 50px;
  width: 200px;
  height: 50;
  font-size: 15px;
  font-weight: 500;
  background-color:blue ;
}


